[2018-02-17 22:15] clojj opened #2 "Haskell indentation rules"
Running the test "function_declarations" with this broken corpus file
[code]
doesn't result in the expected indentation error.
Is correct indentation a goal for this grammar ? if so, could you point me to where this needs to be implemented ?

[2018-02-18 01:15] rewinfrey commented on #2
👋 @clojj, thanks for opening this issue. This is definitely a bug and the grammar is intended to respect Haskell's [layout rules](https://www.haskell.org/onlinereport/haskell2010/haskellch10.html#x17-17800010.3).

To correctly identify and enforce the layout rules, the `grammar.js` file defines [`externals`](https://github.com/tree-sitter/tree-sitter-haskell/blob/1c16f3c9bb2552b7afdeb4b35716324bd5

[2018-02-19 07:29] clojj commented on #2
Instead of defining a new external symbol „in“ (if that is what you meant), wouldn’t it be possible to define some choice (or an alternative let form) that uses the existing in_clause as its termination ?

[2018-02-21 22:14] clojj commented on #2
If I remove "prec.right( ... )" from "_declarations" rule, I get all tests green, including my added tests for these:
`f = let y = x
        z = 2
        x = 1 in y

f = let y = 42 in y
`

[2018-02-21 23:02] clojj commented on #2
How can I explicitly (assert) in 'corpus' tests for ERRORs ?

[2018-02-21 23:05] maxbrunsfeld commented on #2
@clojj You can definitely put `(ERROR)` in the tests. We usually don't because the details of *how* errors are parsed (like which tokens get wrapped in an `ERROR`) is up to the Tree-sitter library itself and is subject to change as we further optimize and improve the error recovery algorithms.

[2018-02-21 23:17] clojj commented on #2
this works, thx

[code]

[2018-02-22 01:42] maxbrunsfeld commented on #2
@clojj Successfully parsing all correct Haskell code is the goal. It's *not* necessarily a goal to produce an error for *all* incorrect code; if we parse some incorrect code without error, that's ok. Personally, I wouldn't recommend adding explicit tests that assert what errors we produce for the reasons I mentioned above.

[2018-02-22 01:43] rewinfrey commented on #2
@clojj, thanks for your continued work here. So cool to see `tree-sitter-haskell` in use in your language-haskell plugin! Thanks also to @maxbrunsfeld for the remote 🍐 on the external scanner logic in https://github.com/tree-sitter/tree-sitter-haskell/commit/01ee480bd7e383e181a62c2ba422bd4f166fbddd. @clojj, your concern about detecting `in` and potentially creating conflicts with identifiers start

[2018-02-22 01:43] #2 closed

[2018-02-28 21:35] clojj opened #3 "Ranges of syntax-nodes starting are off by one line"
In the following, the package 'tree-sitter-syntax-visualizer' highlights the selected span, which is computed by the language's tree-sitter grammar.
The span (hopefully the original one from the parser) is at the very bottom of each screenshot.

With tree-sitter-python, I get these (correct) spans in Python code:
![python-1](https://user-images.githubusercontent.com/4367963/36813836-185ab7e4-1cd6-

[2018-03-05 17:41] clojj opened #4 "scanner .... handling of layout_ symbols not clear"
In the scanner I don't get this part.
Especially, what is `lookahead == 0` ?
I don't see the connection that should exist between newlines/indentation and the LAYOUT_SEMICOLON.

...

[code]

[2018-03-05 17:59] maxbrunsfeld commented on #4
In this context `0` (the null character) means we are at the end-of-file.

This code adapts haskell's [layout rules](https://www.haskell.org/onlinereport/haskell2010/haskellch2.html#x7-210002.7) (which are [formally defined](https://www.haskell.org/onlinereport/haskell2010/haskellch10.html#x17-17800010.3) as a haskell function that transforms an entire list of tokens) into Tree-sitter's tokenizati

[2018-03-05 19:20] clojj commented on #4
are you saying that at the moment when the parser request for more tokens, the end-of-file marker is in the middle of the source, for example in the nth clause of a let statement ?

[2018-03-05 19:30] maxbrunsfeld commented on #4
No, this is just a check to see if we are actually at the end of the file. This check will return true at the end of the last declaration in a file, for example.

[2018-03-05 19:33] clojj commented on #4
hm... ok
have to check this layout rule once again... I thought these virtual semicolons had something to do with newlines

[2018-03-05 19:59] clojj commented on #4
I still don't get why end-of-file relates in any way to the layout-semicolon.

citation from the layout rule:
"... if it is indented the same amount, then a new item begins (a semicolon is inserted); and if it is indented less, then the layout list ends (a close brace is inserted). If the indentation of the non-brace lexeme immediately following a where, let, do or of is less than or equal to the

[2018-03-05 20:55] maxbrunsfeld commented on #4
Take the following code:

[code]

this is equivalent to:

[code]

A close brace is inserted at the end of the file in this case. I don't exactly understand your question. Does that answer it?

[2018-03-05 20:57] clojj commented on #4
ok, but why is the semicolon handled by eof too ?

[2018-03-05 21:25] clojj commented on #4
I was probably looking for this, sorry... so I test this logic in relation to the range-issue

![semicolon](https://user-images.githubusercontent.com/4367963/37000499-eb8f9a8a-20c3-11e8-8a2c-bca66338a69d.png)

[2018-03-05 21:34] clojj commented on #4
currently the range for the 2nd variable-binding is this
![let-stmt1](https://user-images.githubusercontent.com/4367963/37000968-515eba52-20c5-11e8-8dc8-7985b74e3893.png)

but what I am expecting is this range
![let-stmt2](https://user-images.githubusercontent.com/4367963/37000974-581ec878-20c5-11e8-847b-59f61a58070a.png)

[2018-03-06 20:45] clojj commented on #4
Maybe the '\n' scanning is the reason for this,as the range covers the previous newline (?)
The layout_semicolon is actually inserted just before the "z2" variable, so it should be ok I guess..

[2018-03-08 09:19] clojj commented on #4
closed in favor of a new issue with more concise description of the underlying problem

[2018-03-08 09:19] #4 closed

[2018-03-08 09:20] clojj commented on #3
closed in favor of a new issue with more concise description of the underlying problem

[2018-03-08 09:20] #3 closed

[2018-03-08 09:23] clojj opened #5 "ranges (node's startIndex + endIndex) differ with explicit vs. implicit layout"
ranges in code with explicit braces + semicolons are correct, when selecting the syntax-element **function_declaration**
![range-with-explicits](https://user-images.githubusercontent.com/4367963/37143108-6e9a5c10-22ba-11e8-9759-2b2ea41b06d6.png)

ranges in code with implicit (virtual) braces + (virtual) semicolons are not as expected, when selecting the syntax-element ....they should ideally be th

[2018-03-12 17:19] msantosm opened #6 "none, left beef, closed"
using a couple of easy-to-get-at measures find some popular repos to test the parser on.

Our current set is:
number of stars
number of logged in viewers last 30 days
number of commiters last 30 days

(these are defined in [hive.entities.repos ](https://github.com/github/airflow-sources/blob/master/dags/entity_tables/repos.sql) and thus are extremely easy for me to grab - i'll include sql below. L

[2018-03-12 17:24] #6 closed

[2018-03-12 23:55] rewinfrey commented on #5
@clojj, thanks for filing this issue. I apologize for the delay. I was heads down reworking a large chunk of the grammar to better delineate between left-hand side patterns from right-hand side patterns. I hope those changes have not added significant effort to your atom language plugin.

I also updated the external scanner, and would like to verify that this problem persists or not for you. Local

[2018-03-13 06:44] clojj commented on #5
great.. will check this
How did you produce that output... is there an option to include ranges in corpus tests ?

[2018-03-13 07:49] clojj opened #7 "problem with multiline comments"
Having the closing '-}' in a new line, the multiline comment is parsed correctly:
![multiline-comment-ok](https://user-images.githubusercontent.com/4367963/37328625-283af984-269b-11e8-9e31-9f8de70d5461.png)

But if it is on the same line as some comment, it is parsed as ERROR
![multiline-comment-error](https://user-images.githubusercontent.com/4367963/37328708-7627495e-269b-11e8-902b-6c26d9b3593e.

[2018-03-13 07:50] clojj commented on #7
sorry, didn't have time to propose some corpus test-cases yet..

[2018-03-13 16:58] rewinfrey commented on #5
@clojj you can see the range info by using the `tree-sitter parse` command. It's available through `tree-sitter-cli` and is a node package that will be available in `node_modules/.bin` within the `tree-sitter-haskell` repository. An example invocation is:

`node_modules/.bin/tree-sitter parse example.hs`

Currently corpus tests are used to verify the structure of the ASTs produced by tree-sitter g

[2018-03-13 16:58] #5 closed

[2018-03-13 20:23] rewinfrey commented on #7
@clojj thanks for finding this! I've pushed a fix in https://github.com/tree-sitter/tree-sitter-haskell/commit/9ad3593ec1a4bea0d34ff1c9e85736224fb5d9b4 that corrects this behavior. There are also some additional test cases I've added that are related to your PR (specifically https://github.com/tree-sitter/tree-sitter-haskell/pull/8#discussion_r174262302).

[2018-03-13 20:23] #7 closed

[2018-03-14 07:58] clojj opened #10 "node_module version error when testing grammar inside atom-beta..."
getting this, when I do
- `npm run-script build` inside tree-sitter-haskell
- `apm-beta rebuild` inside language-haskell (the --dev linked atom-package that is using /tree-sitter-haskell as a subdir inside /grammars)

![atom-beta](https://user-images.githubusercontent.com/4367963/37389673-8065e3f6-2765-11e8-88a3-496173a3be67.png)

installing this in devDependencies `electron-rebuild": "^1.7.3`
and

[2018-03-22 07:46] banacorn opened #11 "Please help me steal your scanner"
Greetings!

I'm working on a tree-sitter grammar for Agda, a language whose syntax is heavily influenced by Haskell. Like Haskell, Agda relies on spaces for indentation, which requires some scanner preprocessing magic. And that leads me to the magical scanner you've built for Haskell.

However, I've failed to transplant the scanner to Agda.
Here's what I've done:
1. copy `src/scanner.cc` to the co

[2018-03-22 08:18] banacorn commented on #11
I've found what may have caused the problem:

* The build would succeed if the *externals* were left empty in `grammar.js`.
* The build would fail if the *externals* were asserted but **not used** in the *rules* in `grammar.js`.
* The build would succeed if the *externals* were asserted and **used** in the *rules* in `grammar.js`.

[2018-03-22 08:18] #11 closed

[2018-03-22 13:33] maxbrunsfeld commented on #11
Yeah, sorry about that confusing behavior. I have an issue for it, but haven't had time to fix it yet: https://github.com/tree-sitter/tree-sitter/issues/141.

[2018-03-22 16:06] maxbrunsfeld commented on #10
You should just need to run `apm rebuild` in the `language-haskell` folder.

[2018-03-24 06:57] banacorn opened #12 "Freezes on typing stuff at the end of a file"
The whole editor would freeze (and spike CPU usage to 99%) if I type some stuff **at the end of a file**.

I haven't been able to identify the exact sequence of actions to reproduce the freeze, because it would almost always freeze when I try to type anything.

After some tinkering I think the problem comes from the scanner.

[2018-03-27 18:29] rewinfrey commented on #12
@banacorn thanks for filing this issue. @maxbrunsfeld and I did some work on the external scanner and uncovered a condition that could result in non-termination. Those changes have been pushed to master, and should prevent your Atom instance from freezing. Do you mind checking out the latest master and verifying if the infinite looping is still occurring for you?

[2018-03-28 02:33] banacorn commented on #12
Thank you for looking into this!
I've tried out the latest scanner but it still freezes after a few keystrokes 😢

[2018-04-12 16:13] rewinfrey commented on #12
@banacorn This is definitely on our radar, but as I'm still working on adding more Haskell language support for its multitude of language extensions, I've not prioritized getting this working in Atom yet. Thank you for your patience.

[2018-04-12 16:14] rewinfrey commented on #10
@clojj can you confirm if `apm rebuild` was successful for you?

[2018-04-12 17:19] clojj commented on #10
I will check that asap...

[2018-04-30 17:20] dpren opened #14 "unmatched parentheses"
I understand this is WIP - but I noticed missing closing parens cause problems. Is this something that needs work in the scanner? I'd be willing to look into it.

[code]

[code]

[2018-04-30 18:03] maxbrunsfeld commented on #14
@dpren For some context on Tree-sitter's error recovery algorithm - It currently works by skipping one or more tokens and inserting at most one token, in some sequence that overlaps or is adjacent to the  *error detection point*. Tree-sitter tries several ways of recovering from the error and chooses the one that ends up minimizing a pre-defined 'cost' metric.

Because it uses LR parsing, Tree-sit

[2018-05-01 00:01] dpren commented on #14
@maxbrunsfeld Thanks for the detailed reply! I'm looking for better recovery. For context, I'm considering tree-sitter for an IDE focused parser for the Elm language.

This last section "Recovery" of this HN comment sums up what I have in mind:  https://news.ycombinator.com/item?id=13918175

Basically, when there's an error - use indentation level as a heuristic to resume at the next declaration.

[2018-05-01 00:14] maxbrunsfeld commented on #14
Yeah, Tree-sitter doesn't do this. I don't think that would be a helpful approach in this particular case anyway, because the error would not be detected until the middle of the second declaration. Am I missing something?

[2018-05-17 19:48] #14 closed

[2018-05-17 19:49] rewinfrey commented on #10
@clojj circling back here, was your check for this successful?

[2018-05-17 19:50] rewinfrey opened #16 "Incorrect LAYOUT_CLOSE_BRACE applied too early by scanner"
This edge case currently causes the scanner to close the last `where` clause prematurely, resulting in an error state:

[code]

[2018-05-17 19:53] rewinfrey opened #17 "Nested multi-line comments not parsing"
Currently the grammar does not support nested multi-line comments:

[code]

And also errors when parsing pragmas within comments:

[code]

The external scanner will need to handle comments in a similar way as the tree-sitter [OCaml scanner](https://github.com/tree-sitter/tree-sitter-ocaml/pull/1/files).

[2018-05-17 20:03] rewinfrey opened #18 "Grammar does not support C++"
C++ syntax like the following (taken from the [`lens` repository](https://github.com/ekmett/lens)) are not supported:

[code]

Originally I considered parsing C++ directives and their contents as an `extra`. This solution is sub-optimal because the resulting parse tree is lossy. Treating each possible C++ directive supported by Haskell as a production in the grammar would prevent the loss, but wou

[2018-05-17 20:11] maxbrunsfeld commented on #18
Rather than "C++", do you mean CPP, the C Pre-processor?

[2018-05-17 20:14] rewinfrey commented on #18
@maxbrunsfeld Thanks, I've updated the original post.

[2018-05-24 19:04] philipturnbull opened #19 "Out-of-bound read in Scanner::scan"
Fuzzing with AddressSanitizer triggers an oob-read:
[code]

which corresponds to:

https://github.com/tree-sitter/tree-sitter-haskell/blob/2be101d585b1d6cefc9cf132ed3b6c2fb078c6cb/src/scanner.cc#L314-L321

`indent_length_stack.size() > 0` is not guaranteed to be true after the first iteration of the `while` loop. When `indent_length_stack.size() == 0` then `indent_length_stack.back()` on line 316

[2018-05-24 21:36] rewinfrey commented on #19
@philipturnbull thank you for filing this! All tests still pass and current behavior is preserved, so for now this solution is 👍 . Fixed in https://github.com/tree-sitter/tree-sitter-haskell/commit/33f07f66ebc478b3e48187b91d335b6220394a33

[2018-05-24 21:36] #19 closed

[2018-05-30 04:02] banacorn commented on #12
I want to fix this, but I can't locate the source of the problem.

Could it be the scanner? If so, then perhaps instead of adding new stuff, should we fix the non-termination first?
Could it be tree-sitter or Atom? If so, then perhaps other packages that also rely on external scanners could face this problem, too?

[2018-05-30 22:43] rewinfrey commented on #12
@banacorn it's my understanding Atom currently isn't configured to use the `get_column` API that `tree-sitter-haskell`'s external scanner depends on for parsing layout rules. This won't affect other external scanners because as of right now, `tree-sitter-haskell` is the only grammar that requires the `get_column` API (and is the motivation for why it was added to `tree-sitter`). @maxbrunsfeld plea

[2018-08-01 21:28] #10 closed

[2018-11-02 17:25] patrickt opened #21 "Grammar does not support GHC 8.6 source plugins"
If we find a `{-# OPTIONS -fplugin=SomePlugin #-}` pragma atop a source file, we should bail out (or take some other appropriate action), as GHC source plugins can run arbitrary transformations on source code. An example of source-plugin-modified code that we can’t parse (without pulling in the plugin architecture, which is of course out of scope for a plain parser) can be found [here](http://oleg

[2018-11-03 16:16] patrickt opened #22 "Grammar does not fully support -XBlockArguments extension"
GHC 8.6 comes with an extension, “block arguments”, that entails a drastic change to the parser. You can find the [change specification here](https://github.com/ghc-proposals/ghc-proposals/blob/master/proposals/0010-block-arguments.rst), but the tl;dr is that you can now often omit parentheses and `$` invocations associated with `do` blocks:

[code]

rather than

[code]

This has drastic effects o

[2018-12-10 10:38] clojj commented on #12
I am curious about the status of tree-sitter-haskell... are these issues resolvable in your opinion ?

[2018-12-11 16:17] clojj opened #25 "Is this effort going forward ?"
From your perspective, is there a conceivable way out of the scanner-/layout issues ?
I am just referring to "Core Haskell" as even that would be a major step in Haskell editing / IDE-like support. There is hardly another _incremental_ Haskell parser anywhere(?) to my knowledge, and it would be sad if this effort will not go forward anymore.
The added complexity of source plugins and some language

[2018-12-11 19:44] clojj commented on #25
I wasn't referring to haskell-tree-sitter and my PR there... it can wait and it needs some cleanup I think.
My question was strictly about the Haskell parser and it's special scanner... it seems to be the main source of issues in this repo.

Glad to hear that this effort continues at some point in the future !
My main focus with the other repo (haskell-tree-sitter) is in parsing Haskell and I noti

[2019-08-09 19:03] albfan opened #26 "release for 0.15.x"
There're some api changes on 0.15.x

code from 0.13.0 is working as expected, just want to follow the problems to update to last API version @maxbrunsfeld any blockers?

[2019-08-10 11:57] banacorn commented on #26
I think the scanner might be one of the blocker

[2019-10-04 20:09] rewinfrey opened #27 "Update on the state of the grammar"
Today @maxbrunsfeld and I met to talk about the current state of the Haskell grammar. We were interested in trying to get master back to a happy state. However, after untangling some of the conflicts with the grammar we found the remaining conflicts were increasing in complexity, which prompted us to re-evaluate our approach to parsing Haskell.

The original goal for this grammar was to be able to

[2020-11-28 09:21] xylix commented on #27
I tried git cloning and running `tree-sitter generate` on this project, but it fails. Is this the unhappy state that master is in? Did anyone ever figure out some good approach for going forward with tree-sitter parsing haskell?

[2021-03-02 22:00] tek commented on #17
works now!

[2021-03-02 22:00] #17 closed

[2021-03-02 22:04] patrickt commented on #22
This is fixed

[2021-03-02 22:05] tek commented on #22
nope, `let` and `if` are still missing!

[2021-03-02 22:11] tek commented on #22
now it's fixed :sweat_smile:

[2021-03-02 22:11] #22 closed

[2021-03-02 22:17] rewinfrey commented on #27
This is superseded by https://github.com/tree-sitter/tree-sitter-haskell/pull/29 and no longer valid. Many of the previous conflicts described in this issue appear to be resolved with a more extensive [`scanner.cc`](https://github.com/tree-sitter/tree-sitter-haskell/blob/master/src/scanner.cc). Awesome work by @tek to rewrite the grammar!

[2021-03-02 22:17] #27 closed

[2021-03-03 12:40] tek commented on #16
parses correctly now!

[2021-03-03 12:40] #16 closed

[2021-03-03 12:52] tek commented on #21
The code in that post still looks like valid syntax to me. Are you sure using plugins allows you to write syntactically invalid code?

In any case, since you a) can use a plugin by putting it in the cabal config and b) some plugins only do type inference support (e.g. polysemy-plugin), I think this isn't feasible.

[2021-03-03 13:03] tek commented on #18
while parsing doesn't fail on `#ifdef` et al anymore, it still cannot deal with `#else` other than creating a single node for the entire code block.
The reason for this is a general problem, tree-sitter's state would need to be reset to what it was at `#if` when encountering `#else`, and even then I'm not sure how the parse tree would look like.

Another problem with CPP is that macros can be used

[2021-03-03 13:13] tek commented on #18
There would need to be an API function available in the scanner that allows to inject shadow code into the source that is parsed regularly and mapped back to the original positions.

[2021-03-03 13:15] tek commented on #26
should now be 0.19.0!

[2021-03-03 15:10] patrickt commented on #18
Preprocessor-based parsing will always be a good-enough effort (modulo products like CodeQL that attempt to recreate the build environment in toto). I think we should keep this open for informational purposes, but also not sweat it too much.

[2021-03-03 15:11] patrickt commented on #21
@tek Yeah, that’s a good point. I suppose when I said ‘parse’ in this case I meant ‘parse to what is meant by the user’, rather than ‘yield a parse tree’—kind of an unhelpful formulation. And yeah, I agree that this is not feasible; feel free to close and mark WONTFIX.

[2021-03-03 15:31] tek commented on #18
sounds good.

[2021-03-03 15:32] tek commented on #21
ok!

[2021-03-03 15:32] #21 closed

[2021-03-09 21:50] #26 closed

[2021-03-17 19:32] tek opened #31 "scanner counts newlines multiple times"
In the wake of neovim merging support for TS 0.19, I am getting back to it.

First thing I noticed is that the line numbers are off – certain scanner results cause the line number to be incremented by two when parsing a newline.
I am fiddling around with how these get emitted in the scanner, so far it's still unclear to me what the exact reason is; the only thing I achieved so far is that they are

[2021-03-17 19:34] maxbrunsfeld commented on #31
I think that this may be the same bug described here: https://github.com/tree-sitter/tree-sitter/issues/589.

It is fixed in the master branch of Tree-sitter, via https://github.com/tree-sitter/tree-sitter/pull/978.I don't know if Neovim has upgraded to use this version.

[2021-03-17 19:35] maxbrunsfeld commented on #31
Maybe check with the latest version of Tree-sitter if you can reproduce the incorrect row numbers outside of the context of Neovim.

[2021-03-17 19:35] tek commented on #31
oh wow! I updated tree-sitter a few days ago, will check if that was right before

[2021-03-17 19:36] tek commented on #31
scratch that, I updated neovim, not tree-sitter

[2021-03-17 19:47] tek commented on #31
that did indeed fix the problem! :partying_face:

[2021-03-17 19:47] #31 closed

[2021-03-25 14:57] tek opened #32 "layout elements with implicit semicolon break queries"
When a semicolon is deduced from indent in the scanner, the next node is skipped when I use tree-sitter for neovim highlighting.

Example:

[code]

In this case, only the first line is highlighted, and the second line doesn't even appear in the tree displayed by `:TSPlaygroundToggle`. However, with `tree-sitter parse`, it is correctly included in the tree.

On the other hand, with an explicit semi

[2021-03-25 15:46] tek commented on #32
even though I have the `get_column` fix in my system treesitter, is it possible that neovim doesn't have it yet?

[2021-03-28 18:22] tek commented on #32
ping @maxbrunsfeld

[2021-04-11 12:00] tek commented on #32
ping again @maxbrunsfeld

[2021-04-11 18:59] maxbrunsfeld commented on #32
I don't have very much context on the Neovim side of things, so I think you'll need to figure out:
* what version of Tree-sitter you're using in your build of Neovim
* if the bug is on the Neovim side of the Tree-sitter side

If the Tree-sitter version is current, and the bug is on the Tree-sitter side, we may need a minimal way to reproduce the bug outside of the context of Neovim.

[2021-04-19 17:00] BrianHicks opened #33 "as of `381dca04`, parsing hangs on any input when called from Rust"
Hey there! It appears that as of 381dca04, this grammar fails to terminate on any Haskell file when called from the tree-sitter library for Rust (I used 0.19.3.) The behavior shows up as parsing failing to terminate. I haven't found any syntax in particular that triggers or avoids this; it happens on every file I tested (even a blank file).

I bisected, and 1b00b9f (the commit before 381dca04) was

[2021-05-10 15:39] tonyalaribe opened #34 "Unable to setup on mac"
I have this error while trying to setup tree-sitter haskell on a mac:

![image](https://user-images.githubusercontent.com/6564482/117685660-6c0eb700-b1b6-11eb-8d48-936d3dbd8039.png)

Do you have any ideas what I might be doing wrong?
I tried updating gcc on mac, but this still happens

[2021-05-10 15:45] tonyalaribe commented on #34
The rest of the error:

![image](https://user-images.githubusercontent.com/6564482/117686743-73829000-b1b7-11eb-8625-a46634c9b723.png)

[2021-05-20 18:13] PabloReszczynski commented on #34
Same problem! I think it may have to do with clang vs gcc

[2021-05-20 18:24] maxbrunsfeld commented on #34
Yeah, I hit this too. The external scanner currently uses come C++14 features, and I guess the clang version on macOS doesn't support those by default. When the Tree-sitter CLI automatically compiles your parser, it just runs your C++ compiler with the default settings (as opposed to passing `-std=c++14` or something like that), so it doesn't work.

It'd be great to make that file a little bit mor

[2021-05-27 09:14] expipiplus1 opened #35 "Doesn't seem to update with treesitter playground"
Firstly: It's fantastic to see this working with Haskell!

I notice that with treesitter playground things don't seem to be updating (and I assume that this indicates a deeper problem)

Here's a recording of me editing a C file and a Haskell file, demonstrating the difference in experience:

https://asciinema.org/a/J38cw04yWrtdxFYfjWPwZXAvd

I'm using neovim master (as of today) and treesitter 0.1

[2021-05-27 11:10] tek commented on #35
yeah, I haven't managed to get it to work properly in neovim yet. For me it produces lots of errors and has problems with newlines. Do you get any errors? Haven't tried it in a month, I'll investigate with the latest masters.

[2021-05-27 11:59] expipiplus1 commented on #35
No errors or anything like that I'm afraid. I'm happy to do any debugging, just let me know how!

[2021-05-27 13:04] tek commented on #35
that's great, maybe these problems were fixed recently.
When you edit a file containing

[code]

is the second line highlighted? or if you don't have highlighting, what's the tree displayed by playground?

[2021-05-27 15:40] expipiplus1 commented on #35
Seems to be highlighting things correctly, not sure if that's tree sitter or vim though. Playground is certainly not correct though

![image](https://user-images.githubusercontent.com/857308/119855840-d9577180-bf44-11eb-885d-0e930359e94a.png)

[2021-05-27 15:46] expipiplus1 commented on #35
On a file with more imports, it seems to `ERROR` on some of the imports:

![image](https://user-images.githubusercontent.com/857308/119857009-c5603f80-bf45-11eb-8615-50afb1d5331d.png)

[2021-05-27 15:52] tek commented on #35
hm! it definitely looks better than previously. I will investigate.

[2021-05-27 16:10] expipiplus1 commented on #35
Thanks!

On Thu, 27 May 2021, 11:53 pm Torsten Schmits, ***@***.***>
wrote:

[2021-05-29 00:31] expipiplus1 commented on #35
Sounds good to me!

Is it worth opening an issue on neovim? (I don't think I understand what's
going on well enough to do that myself however)

On Sat, 29 May 2021, 3:17 am Torsten Schmits, ***@***.***>
wrote:

[2021-05-29 00:50] tek commented on #35
there's this issue https://github.com/nvim-treesitter/nvim-treesitter/issues/1201 pertaining to a certain error reported by TS while editing which I also experience, and it seems likely to me that it's the cause of what's happening here (the error is "end_col out of range", which fits with the fact that consecutive lines are alternatingly not highlighted, something with the newlines).
So I'm gonna

[2021-05-29 01:39] expipiplus1 opened #36 "It would be great to have a list of supported language extensions in the readme"
I see that LambdaCase, ScopedTypeVariables and DataKinds are mentioned in the test directory. There are also references in other issues to template Haskell.

[2021-05-29 05:47] expipiplus1 commented on #35
How are you seeing these error messages? I seem to get nothing printed from nvim. FWIW I tried with different line endings with no difference.

[2021-05-29 12:12] tek commented on #36
good idea!

[2021-05-29 12:14] tek commented on #35
![image](https://user-images.githubusercontent.com/2632/120069809-1d06c400-c088-11eb-8ad3-221e80864433.png)

happens after doing a few edits.

I experimented with different newline chars as well in the tests.

[2021-05-29 12:25] expipiplus1 commented on #35
Could the error message actually be legit and the parser is returning an
out of bounds character?

On Sat, 29 May 2021, 8:15 pm Torsten Schmits, ***@***.***>
wrote:

[2021-05-29 12:31] tek commented on #35
I debugged this with the scanner in tests but haven't been able to find anything out.
I'd have to dive into how neovim does the parsing to get a better picture.

Anyway, since this exact error message is the topic of said issue, I hope its fix will improve this.

[2021-05-31 20:51] tek commented on #36
hey @expipiplus1 , I added that list. please close if you find it satisfactory.

[2021-06-01 00:49] expipiplus1 commented on #36
Amazing, thanks!

[2021-06-01 00:49] #36 closed

[2021-06-05 00:00] archseer opened #37 "Fails to build on Windows"
Hi, we've imported the grammar into [helix](https://github.com/helix-editor/helix), now that #27 was addressed! A bug report was just opened (https://github.com/helix-editor/helix/issues/117) regarding building the grammar on Windows, it seems that there's some errors with `scanner.cc`:

[code]

[2021-06-05 00:12] archseer commented on #37
I think this is possibly because we build the grammars with `C99` instead of `C11`. I'll update our build setup.

[2021-06-05 00:23] archseer commented on #37
Closing as duplicate of #34

[2021-06-05 00:23] #37 closed

[2021-06-05 11:12] tek commented on #33
hey @BrianHicks! I totally didn't see the issue, sorry for that. Afair, I committed some broken parser code back then, is this still happening? In any case, please try with >0.19.4.

[2021-06-05 11:28] tek commented on #34
@maxbrunsfeld not sure, but judging from the errors here it's struggling with some c++11 features (lambdas)

[2021-06-05 13:51] archseer commented on #34
I was able to build on macOS by specifying `-std=c++14`, however I wasn't able to get it working with the msvc equivalent on Windows (`/std:c++14`)

[2021-06-05 17:57] lunixbochs commented on #34
@archseer I think the MSVC errors were just fixed by https://github.com/tree-sitter/tree-sitter-haskell/pull/38

[2021-06-05 18:57] lunixbochs commented on #34
I've been triaging https://github.com/tree-sitter/py-tree-sitter/pull/64 and I have tree-sitter-haskell currently building in `py-tree-sitter` CI on all of windows/mac/linux with a few different c++ target levels.

You can see which jobs pass from the top 3 actions here to see how passing the c++11, c++14, and c++17 flags affect a ~recent compiler on each OS: https://github.com/tree-sitter/py-tree

[2021-06-05 22:17] tek commented on #34
sounds reasonable!

[2021-06-05 22:27] ahlinc commented on #34
May be it's worth to mention in https://github.com/tree-sitter/tree-sitter/issues/930

[2021-06-06 22:27] theHamsta commented on #34
tree-sitter-haskell requires C++14 due to generic lambdas. But nice that the MSVC error was fixed.

[2021-06-07 01:08] archseer commented on #34
Thanks for the fix @lunixbochs! I still get a failure when cross compiling to `aarch64-linux` with `C++14`:
https://github.com/helix-editor/helix/runs/2759709239

[code]

[2021-06-07 01:23] lunixbochs commented on #34
Is that `aarch64-linux-android`? https://github.com/rust-embedded/cross#supported-targets lists gcc 4.9. They should update that.

[2021-06-07 01:24] archseer commented on #34
aarch64-unknown-linux-gnu

[2021-06-07 01:25] lunixbochs commented on #34
Ah I didn't see that entry, anyway it's 4.8.2 as well.

[2021-06-07 01:35] AusCyberman opened #39 "Not in haskell, when ghcide exists"
It should be written in haskell and compiled to an object file

[2021-06-07 06:55] MatthijsBlom commented on #39
Perhaps you are looking for tree-sitter's [Haskell bindings](https://github.com/tree-sitter/haskell-tree-sitter)?

[2021-06-07 06:58] AusCyberman commented on #39
Nope, the tree sitter parser should have been written in haskell for easy integration with existing technology available as keeping up with language extensions and inconsistency would lag behind as opposed to HLS

[2021-06-07 16:02] #39 closed

[2021-06-07 16:38] BrianHicks commented on #33
Yep, looks like the latest commit (237f4eb) is working fine with 0.19.5. Thank you!

[2021-06-07 16:38] #33 closed

[2021-06-07 23:29] nkpart commented on #34
I have a similar but different problem installing on Mac, running `TSInstallSync haskell` from neovim. My setup is maybe different to a lot of users though. I'm using the nix-based home-manager tool to manage my user account, details:

[code]

[2021-06-07 23:33] lunixbochs commented on #34
Should probably add the missing include

[2021-06-07 23:33] lunixbochs commented on #34
You're compiling a C++ file (.cc suffix) with a C compiler

[2021-06-07 23:38] theHamsta commented on #34
Which is how nvim-treesitter installs stuff. cc is either gcc or clang and they usually set the language based on the filetype (except Apple clang is again different from normal clang). @nkpart can you make sure you have a C++ runtime installed libc++ on mac or I guess libstdc++ would maybe also work.

[2021-06-08 01:11] nkpart commented on #34
Thanks, I've done some digging.

As you all might know, nvim-treesitter uses https://github.com/nvim-treesitter/nvim-treesitter/blob/ddc0f1b606472b6a1ab85ee9becfd4877507627d/lua/nvim-treesitter/install.lua#L14 to figure out the compiler to use, and then this https://github.com/nvim-treesitter/nvim-treesitter/blob/ddc0f1b606472b6a1ab85ee9becfd4877507627d/lua/nvim-treesitter/shell_command_selectors.

[2021-06-08 19:24] theHamsta commented on #35
@tek does this problem only happen with nvim or does it also happen with tree-sitter's wasm playground?

[2021-06-08 19:28] tek commented on #35
@theHamsta I haven't seen that! Can you link me?

[2021-06-08 19:48] theHamsta commented on #35
I couldn't find the docs for it. Everytime I look for it I compile it by trial and error

[code]

[2021-06-08 19:49] tek commented on #35
thanks! I'll investigate the problem with that.

[2021-06-08 19:55] tek commented on #35
guess that answers https://github.com/tree-sitter/tree-sitter-haskell/issues/32#issuecomment-817355762 as well, @maxbrunsfeld .

Question is now, how do we create a minimal reproducer from this? Does the web ui provide some additional insights?

[2021-06-09 05:30] ahlinc commented on #35
I usually use tree-sitter CLI build from the master branch and found that there may be problems with starting the local playground due to collision of tree-sitter versions and if to be more concrete due to wasm components collision.
- My tree-sitter version located in `~/.cargo/bin/` which I install there by the `cargo install --path cli/` command from tree-sitter's repo.
- Another tree-sitter ver

[2021-06-10 23:29] tinygiant98 commented on #35
@ahlinc ... Nailed it.  The issue I was having in #1155 was resolved by installing emscripten 2.0.11 and rebuilding the parser to wasm.  Still have a few issues (such as errors not being displayed in the document), but that's  more likely something with the extension and not tree-sitter itself.   Thanks!

[2021-06-12 23:50] aridgupta commented on #34
I have gcc installed on mac. How do I install tree-sitter-haskell. It shows the error as mentioned by this issue.

[2021-06-13 00:02] theHamsta commented on #34
@aridgupta as @nkpart mentioned nvim-treesitter will respect the CC env variable. Set the environment variable CC=gcc or in lua`require"nvim-treesitter.install".compilers = {"gcc"}`

[2021-06-13 00:08] aridgupta commented on #34
@theHamsta thank you. However, when I would update tree-sitter in the future, won't this fail again?

[2021-06-13 00:13] theHamsta commented on #34
Not when setting `require"nvim-treesitter.install".compilers = {"gcc"}` in your init.vim

[2021-06-16 18:20] farbodsz commented on #34
For anyone looking through this thread, I was having the same error message but on Ubuntu rather than Mac:

[code]

I tried `gcc` but interestingly, forcing tree-sitter to use `clang` instead of `gcc` fixed the problem:

[code]

[2021-06-16 21:55] tek commented on #34
made a note of it in the readme

[2021-07-04 20:26] theHamsta commented on #35
This might be an issue with the playground. It only seems to update when `highlights.scm is present https://nvim-treesitter.zulipchat.com/#narrow/stream/252338-help/topic/Hot.20Reparsing.20with.20Custom.20Parsers/near/244874972

[2021-07-21 09:28] expipiplus1 commented on #35
Seems to be fixed now, perhaps due to 9c1fd425ff72ebbe419e6ee7e8c9862ec9f274f4?

[2021-07-21 10:28] theHamsta commented on #35
@expipiplus1 No the bug is that the playground won't update when there are not highlighting queries. `highlights.scm` has now been added.

[2021-07-21 10:41] tek commented on #35
FYI my issues disappeared when nvim 0.5 was released.

[2021-07-21 10:44] tek commented on #32
this is not present anymore in current nvim.

[2021-07-21 10:44] #32 closed

[2021-07-21 10:45] tek commented on #12
this applied to the version from before the rewrite, cannot reproduce it now.

[2021-07-21 10:45] #12 closed

[2021-07-24 18:59] tonyalaribe commented on #34
I will close this now.  `require'nvim-treesitter.install'.compilers = { "gcc" }` worked for me. Though I had to do
`TSInstallSync haskell` afterwards.

[2021-07-24 18:59] #34 closed

[2021-08-04 15:51] molleweide commented on #34
yo.

I'm just chiming in to say I believe I've tried all of the above but things still don't seem to work. I am personally using macos catalina.
This was also a very interesting thread to read as a beginner with tree sitter.

Pretty much all errors I get look like this ` src/scanner.cc:87:10: error: expected expression
  return [=](A a) { return f(g(a)); };` and it marks the err at the [=].

This

[2021-08-04 20:30] chianuo commented on #34
I can't get this to work either. I've added `require'nvim-treesitter.install'.compilers = { "gcc" }` to my nvim config, I've added the `CC=gcc` environment variable, and I still get that massive error when running `TSInstall haskell`. No clue what I'm doing wrong.

[2021-08-04 20:43] chianuo commented on #34
@molleweide I solved it for me, maybe you're experiencing a similar issue. Basically, macOS symlinks `clang` to `/usr/bin/gcc`, so even if you install gcc from `brew install gcc`, and do the above configuration, you're still secretly using macOS's clang. Bloody hell, Apple.

I fixed it by linking the real gcc somewhere into my path with higher priority. `cd /usr/local/bin && ln -s ./gcc-11 gcc`. N

[2021-08-04 20:57] tek commented on #34
made another note in the readme

[2021-08-05 06:56] albohlabs commented on #34
With the hint from @chianuo it works now. Awesome. 🥳

[2021-08-05 07:23] molleweide commented on #34
it wooooooorks!!! 🥳

[2021-08-10 10:50] Harmos274 opened #41 "Terrible performances on medium and big files"
Good morning,

I like tree-sitter haskell very much but it seems it considerably slows when a file pass a certain number of characters. I don't actually know if the cause is the file's pattern complexity or anything but this is very penalizing...

Here's an example of slow file if you wan't to reproduce it :

[code]
Configuration:
- Nixos
- Nvim 0.6.0-dev (upstream)
- Tree-sitter 0.19.3

Thank you

[2021-08-10 10:52] tek commented on #41
I'm aware, haven't gotten around yet to debugging it!

[2021-08-10 10:54] Harmos274 commented on #41
Nice, thank you ! Can't wait 😄

[2021-08-13 19:09] jpe90 opened #42 "Syntax Highlighting in Escaped String Literals"
Hello,

Is it possible to highlight escaped string literals? Here's how they look currently:

![126541203-798eb22d-9b86-499a-ac8f-24f9c1883594](https://user-images.githubusercontent.com/9307830/129407305-98b51139-9467-4993-a4be-92161875fc3d.png)

Vs other editors with highlighted escaped literals:

![126541203-798eb22d-9b86-499a-ac8f-24f9c1883594](https://user-images.githubusercontent.com/9307830/

[2021-08-13 20:07] tek commented on #42
in general, you can use injections to defer to a different grammar, by putting this into `$VIMCONFIG/queries/haskell/injections.scm`:

[code]

And I can look into parsing strings directly in the grammar.

[2021-08-13 20:08] tek commented on #42
so, the other grammar would need to be specifically parsing only the string

[2021-08-14 06:06] jpe90 commented on #42
Got it working after I realized you didn't mean to literally add `@grammar-with-escape-highlights`, LOL. Thank you!!

[2021-08-14 08:56] tek commented on #42
oh really, which grammar did you use?

[2021-08-14 09:28] jpe90 commented on #42
I just tried a couple at random and went with Rust because it picked up \" and \n without giving me problems in the project I'm working on

[2021-08-14 09:57] tek commented on #42
oh heh. you could create a minimal grammar that only parses strings tho

[2021-08-14 10:56] jpe90 commented on #42
I'm not really familiar with treesitter internals (or parsing in general really) to know how to go about that.. would reading https://tree-sitter.github.io/tree-sitter/creating-parsers get me started, or is there other documentation you would also recommend?

[2021-08-14 11:26] tek commented on #42
I did a similar thing for quasiquotes here: https://github.com/tek/vim-bundle-conf/tree/master/tree-sitter/exon

it's bare bones, you'll just have to modify `grammar.js`, it should be fairly intuitive, using that page you linked.

then you'll have to add it in you vim config in a `plugin/foo.vim`:

[code]

and you can refer to it in an injection with `@string_grammar_name`

[2021-08-15 07:51] jpe90 commented on #42
Thank you, that example was very helpful. I ended up giving it a shot. I set up a minimal grammar which only parses strings into two nodes, "string_fragment" and "escape_sequence". It installs successfully and are applied in the right places when I look at a source file with TSPlayground:

![escape_sequence](https://user-images.githubusercontent.com/9307830/129470970-05a80527-cbd0-4a3a-a767-8966e2

[2021-08-15 11:27] tek commented on #42
by "in the minimal grammar", do you mean that the highlights file is in the `porcupine/queries` directory? because that won't get picked up by nvim I think.

[2021-08-15 18:27] jpe90 commented on #42
Yeah, I had tried adding those highlights in the haskell queries directory in the fork of nvim-treesitter that my config is hooked up to and treesitter exploded with an error referencing an "invalid node". If I included a `porcupine` highlight group it got picked up, though. Anyways I should probably find time to figure out how tree-sitter actually works before trying to hack something together :^

[2021-08-15 18:52] tek commented on #42
well, for nvim, you have to put all the queries and injections into the nvim config. so either your nvim-treesitter fork or your local `~/.config/nvim`.
and the injection has to be in `queries/haskell/injections.scm`, while the highlighting for porcupine has to be in `queries/porcupine/highlights.scm`.

[2021-08-25 20:27] ocharles opened #43 "`undefined symbol: tree_sitter_haskell_external_scanner_create`"
I think I've followed instructions correctly:

* I cloned this repo
* I ran `tree-sitter generate` using Tree Sitter 0.2
* I added Haskell manually to my Neovim config
* I ran `TSInstall haskell` which succeeded without an error

Now, when I open a Haskell file, I get:

[code]

I'm not really sure what's up at this point. The generated `.so` certainly has `tree_sitter_haskell_external_scanner_crea

[2021-08-25 20:41] #43 closed, assigned to nobody

[2021-08-26 09:58] ocharles opened #44 "Error with a file using quasiquotes"
If I open `tree-sitter-playground` on this file, I get a bunch of error nodes, though the file compiles just fine:

[code]

[2021-08-26 11:20] #44 closed, assigned to nobody

[2021-08-27 14:05] ocharles opened #45 "Typing a quasiquote causes tree-sitter-haskell (and by extension, neovim) to segfault"
Steps to reproduce:

1. Open `nvim`
2. `:e Hmm.hs`
3. Type: `[i|`. The final `|` will cause a segfault

GDB tells us:

[code]

[2021-08-27 15:19] #45 closed, assigned to nobody

[2021-08-28 07:50] jpe90 commented on #42
No, I got stuck getting highlights/injections recognized and felt a little out of my depth. I wanted to make more of an effort to understand how they work before I kept bugging for help. I'll give it another shot when I'm feeling brave :^)

[2021-08-28 19:24] tek commented on #42
gotcha, feel free to continue here when you need more input!

[2021-09-09 15:33] molleweide commented on #34
I just got a new M1 mac and I notice that after following the instructions in the readme again
on this new mac with M1 doing this:
[code]
then
```which gcc``` will still show `usr/bin/gcc`
because it seems that usr/local/bin/gcc-11 doesn't exist on M1 mac.
Again, I am not so comfortable with gcc so I am not sure if I explaint this in a bad order..
Could this have something to do with homebrew chan

[2021-09-09 15:38] molleweide commented on #34
yes it should be `ln -sf /opt/homebrew/bin/gcc-11 /usr/local/bin/gcc` on Macos with latest version of homebrew.

[2021-10-19 12:45] JonathanLorimer commented on #41
I was trying to read up on some potential performance bottlenecks. The docs mention the [tree_sitter_my_language_external_scanner_serialize](https://tree-sitter.github.io/tree-sitter/creating-parsers#serialize) function, and particularly the state it needs to serialize.

This function https://github.com/tree-sitter/tree-sitter-haskell/blob/master/src/scanner.cc#L1645-L1654

I was also trying to lo

[2021-10-25 00:07] expipiplus1 commented on #41
It must be something other than that, there are other grammars which produce 1600 line expressions with no impact on editor performance.

[2021-10-25 00:12] JonathanLorimer commented on #41
I wish I was more familiar with how tree-sitter parsers work (maybe I will investigate that next), but perhaps there is something specific to haskell that triggers re-computations of massive parts of the state space? A simple hypothesis would be that, based on the current grammar, tree sitter can't localize the changes to the expression where they are occurring and therefore has to recompute the w

[2021-10-25 00:38] tek commented on #41
the hypothesis with the recomputation on change sounds very plausible

[2021-11-14 21:32] Wilfred opened #48 "Comment parsing consumes blank lines before"
[code]

The position of the comment here covers all the preceding blank lines.

[2021-11-14 22:22] tek commented on #48
thanks a lot!!!

[2021-11-14 22:22] #48 closed

[2021-11-17 21:45] FoamScience opened #49 "Help with creating a new parser!"
Hi guys,

First of all, thanks for the amazingly organized and commented code; couldn't find anything like this for a month!

So, I'm willing to use your external scanner as a base for my own, and I don't seem to get what's needed to compose a simple parser.
My parser is straightforward, just keeps consuming characters and advances the lexer until it encounters "{", ";", "}" or white space; so I t

[2021-11-17 22:00] tek commented on #49
hey there, happy to hear that the scanner is useful as a library!

Your parser only consumes one character, in order to do repeated parsing you'll have to use something like `read_while`.
Additionally, if you want the scanner to produce a successful result with the characters that have been accepted, you'll need to call the `finish` combinator.

Your example could be expressed roughly like this:

[2021-11-18 19:22] FoamScience commented on #49
Thanks for the help! That got me half of the way, but I still get a weird error.

I want to parse:
[code]
as ("one" and "line" are identifiers)
[code]

However, with:
[code]
I get ("l" gets eaten somehow!):
[code]
which does not make much sense; any ideas?

You can view [my code here](https://github.com/FoamScience/tree-sitter-foam/blob/8c1f9a5d1e23d80652080b9c595677ca50b51b0a/src/scanner.cc#L1537

[2021-11-18 21:32] tek commented on #49
it looks to me like it's parsing the empty string as a successful identifier because you commented out the check for the non-identifier character and aren't verifying that you've seen at least one identifier character in your custom parser!

[2021-11-18 21:41] FoamScience commented on #49
Oh, man, It was right in front of my eyes; Thanks a lot!

[2021-11-18 21:42] tek commented on #49
:sweat_smile: my pleasure!

[2021-11-28 18:38] wenkokke opened #50 "Published most recent version to npm"
This package hasn't been published to npm in a while, and the most recently published version no longer compiles with the recent versions of tree-sitter.

Would be possible to publish a more recent version? What is currently blocking a new version release?

[2021-11-28 18:41] tek commented on #50
@patrickt @maxbrunsfeld

how do we do this?

[2021-11-30 11:31] wenkokke opened #51 "How do I build this outside of nvim-tree-sitter?"

[2021-11-30 12:51] tek commented on #51
I've only ever used it from neovim. I'll try to investigate

[2021-12-01 18:26] wenkokke commented on #51
Unfortunately, that means that the default command `tree-sitter build-wasm` fails as it compiles via emscripten and hardcodes `-std=c99` in the arguments.

[2021-12-13 00:53] bimalgaudel commented on #34
Could you tell how you specified `-std`?

[2021-12-22 20:50] kentkwu commented on #34
Here's what worked for me, on an M1 mac:

[code]

At this point gcc-11 should be here:
[code]

And then just explicitly pass in gcc-11 to [install.lua](https://github.com/nvim-treesitter/nvim-treesitter/blob/ddc0f1b606472b6a1ab85ee9becfd4877507627d/lua/nvim-treesitter/install.lua#L14)

[code]

This way you don't have to mess around with symlinks in `/usr/local` or changing the path priority.

[2021-12-27 13:21] 414owen commented on #41
Also seeing really laggy performance in the `helix` editor.
The helix editor is written in Rust, and has tree-sitter support built in, so there's very little overhead.
It also seems to be running `tree-sitter` with every inserted character, the result of which is that I can type faster than the editor updates.

I've uploaded [a flamegraph](https://owen.cafe/res/helix-flamegraph.svg) of running `he

[2021-12-27 13:28] tek commented on #41
that _is_ helpful, thanks!

[2021-12-27 14:49] tek commented on #41
since the graph showed that a lot of time is spent in `logic::symop` I tried replacing the parser combinators in there with a `switch`, since it was doing 10 checks on a single character in a row. alas, didn't change much.

one thing I noticed in nvim is that when holding a key in insert mode, the lag increases with the number of characters inserted. wonder if it would be possible to abort the cur

[2021-12-27 14:56] tek commented on #41
at some point I'll have to accept that writing an ad-hoc functional parser in c++ might not have been a suitable choice for the scanner

[2021-12-27 15:28] tek commented on #41
I added timing output to the example project parsing script and that change in `symop` did in fact have an impact on performance, about 5-10% faster on `semantic` (45 vs 41 seconds)

[2021-12-27 15:36] JonathanLorimer commented on #41
Is there a reason to have an external scanner? Are external scanners faster?

[2021-12-27 15:38] tek commented on #41
no, the grammar doesn't handle some things like indentation well

[2021-12-27 15:41] tek commented on #41
but feel free to try to move parts of scanner to the grammar :smile:

[2021-12-27 15:42] JonathanLorimer commented on #41
lol, yeah, I am terrible at C++, but am trying to think of any small contributions I could make that might improve performance.

[2021-12-27 15:46] 414owen commented on #41
In `symop`, if I'm interpreting the graph correctly, half the time is spent creating a closure for the scanner (`operator+`), then half the time is spent running the scanner. The creation step involves a lot of calls to `malloc`.

In the past, I've had excellent results using `re2c` to generate really fast `C` scanners...

[2021-12-27 15:47] tek commented on #41
@414owen can you create a new graph with current HEAD?

[2021-12-27 15:49] tek commented on #41
and could you figure out a way to create that graph for a run of `script/parse-example` and teach me? :smile:

[2021-12-27 15:51] tek commented on #41
so we'll have to figure out how to inline those functions properly

[2021-12-27 15:51] 414owen commented on #41
Sure, I'll create one now.
Re: mallocs/closures. Is it possible to create these closures in advance, so they're not happening on every keypress?

[2021-12-27 15:53] tek commented on #41
[code]

if someone who's good at C++ can weigh in on the performance characteristics of this…

[2021-12-27 15:57] tek commented on #41
funny, using `const Parser &` worsens the runtime by 25% :sweat_smile:

[2021-12-27 15:58] tek commented on #41
and using `[&]` causes it to crash. there's got to be some combination of qualifiers that prevents allocation

[2021-12-27 16:04] 414owen commented on #41
Okay, here's [the flamegraph](https://owen.cafe/res/ts-haskell-parse-example-flamegraph.svg) for `parse-example`.
These are the instructions I followed to create it: https://www.brendangregg.com/FlameGraphs/cpuflamegraphs.html

For the previous one I just used [`cargo-flamegraph`](https://github.com/flamegraph-rs/flamegraph).

On nixos everything you need is in the  `linuxPackages.perf` and `flame

[2021-12-27 16:05] tek commented on #41
thanks!

[2021-12-27 16:25] 414owen commented on #41
Um I don't seem to have anything in my `examples` folder, so `parse-example` wasn't doing much. Is there an example usage?
I think it's best to flamegraph a binary, rather than a shell script, too.

[2021-12-27 16:27] tek commented on #41
yeah you'll first have to run `script/parse-examples`, which clones those repos. I'm currently writing a separate script for creating a flamegraph that runs `ref` on `tree-sitter parse` directly

[2021-12-27 16:45] 414owen commented on #41
Exactly how pure are these parsers?
For, eg, `Parser symop(Symbolic type);` could its `Parser` result be memoized for each `Symbolic type`?
Or even just created once for each `Symbolic type` at the start of the program?

[2021-12-27 16:50] tek commented on #41
no idea whether that makes sense in c++!

[2021-12-27 16:50] tek commented on #41
`Parser` is just an alias for `function<Result(State&)>`

[2021-12-27 17:53] 414owen commented on #41
I'm testing out some memoization tricks [here](https://github.com/414owen/tree-sitter-haskell/tree/memoize-parsers)

[2021-12-27 17:56] 414owen commented on #41
It does seem a bit faster. `symop` doesn't show up in the flamegraph anymore, but `immediate` still does.

[2021-12-27 18:16] tek commented on #41
interesting

[2021-12-27 18:28] tek commented on #41
when I run flamegraph I mostly get `[unknown]` entries. any idea how to instruct tree-sitter to compile the parser with debug symbols?

[2021-12-27 19:13] tek commented on #41
my impression so far is that since `std::function` is an object that stores all of its closure's captured variables, and most of those variables are again functions, and all of those functions are stack-allocated in other parser objects, there's just a _lot_ of copying and allocations going on, especially when, as you noted, the parsers have value parameters like `Symbolic::type` and the current i

[2021-12-27 19:59] 414owen commented on #41
Doesn't tree-sitter just generate `.c` files, which you can then compile with `-g`?
This is how `helix` is compiling tree-sitter grammars: https://github.com/helix-editor/helix/blob/a4641a8613bcbe4ad01d28d3d2a6f4509fef96a9/helix-syntax/build.rs#L91-L100

[2021-12-27 20:07] tek commented on #41
pretty similar to the command line that `tree-sitter parse` uses :disappointed:

[2021-12-27 20:23] 414owen commented on #41
Here's [a flamegraph](https://owen.cafe/res/ts-haskell-memoized-flamegraph.svg) for my memoized branch. It really didn't help that much.

[2021-12-27 20:29] tek commented on #41
we really need a C++ pro to assess what the right way to use `std::function` is

on stackoverflow it's being said that those should be optimized away, but maybe not in the way I've used them

[2021-12-27 20:39] 414owen commented on #41
Yeah I stepped through a scan cycle in gdb, and pretty much everything seems to be in `std::function`...

I think this might be right on the money, unfortunately.

[2021-12-27 21:30] JonathanLorimer commented on #41
I have asked my friend @avery-laird to take a look, he has lots of experience with C++. @tek What compiler are you using to compile the project? I imagine `gcc`.

[2021-12-27 21:31] tek commented on #41
thanks @JonathanLorimer ! yes, gcc

[2021-12-27 22:14] avery-laird commented on #41
First, a disclaimer: this is not exactly the area I work on, so please take whatever I say with a grain of salt! From a glance over the source code, I'll write my 2 cents.

Generally, `std::function` is very heavy weight. In some cases, compilers can do optimizations, but often they don't bother because it requires lots of engineering effort and analyses for (usually) little performance benefit.

[2021-12-27 22:18] tek commented on #41
thanks a lot, I will take a close look at those!

[2021-12-28 17:59] 414owen commented on #49
@FoamScience I'd be interested in your experience with the scanner library, performance-wise. See https://github.com/tree-sitter/tree-sitter-haskell/issues/41

[2021-12-29 10:02] FoamScience commented on #49
I'm actually using [only one parser](https://github.com/FoamScience/tree-sitter-foam/blob/7491d39afd21e4c7712fa621dfe627508effff1c/src/scanner.cc#L802) from the scanner library and I never felt any slowness compared to what I was using before (I'v tested only files up to 4MB in size with my grammar though).
To me, it seems like chaining parsers (or maybe just one of the ones the library provides)

[2021-12-29 18:02] wenkokke commented on #51
This bug means tree-sitter-haskell cannot currently be built using `tree-sitter build-wasm`, which blocks its inclusion in wider projects such as the VSCode parse tree extension.

Can anyone who is familiar with this codebase advice me on how to fix this?

[2021-12-29 18:20] tek commented on #51
what do you see as a possible solution to this problem?

[2021-12-30 15:36] 414owen commented on #41
Here are some pretty simple changes that speed up the scanner by 2x: https://github.com/tree-sitter/tree-sitter-haskell/compare/master...414owen:faster-scanner-demo?expand=1

I'm going to keep going, replacing combinators with first-order logic, and see what the results look like.

[2021-12-30 15:48] tek commented on #41
that is crazy

[2021-12-30 23:15] tek commented on #41
while performance is now pretty good on medium files, trying to insert code into `base`'s `Data.Map.Internal` (at >4k lines) is still almost impossible.
however, the question that is still unanswered is whether the apparent reparsing of the entire file on each keystroke is the result of incorrect design of this grammar or an nvim thing (how does this behave in helix, @414owen ?)

[2021-12-31 11:26] 414owen commented on #41
Performance in `helix` is also terrible when editing `Data.Map.Internal`.

[2021-12-31 11:28] tek commented on #41
maybe incremental parsing only works reliably when the scanner is simple :thinking:

[2021-12-31 11:34] 414owen commented on #41
@maxbrunsfeld I don't suppose we could get your expert opinion here?

The state of affairs:

* We have a slow scanner
* We think that its slowness should only matter when parsing a whole file
* When making one-character edits, it's painfully slow.

Does this indicate something's wrong? Are there steps that make the scanner incremental, that we might have missed?

[2021-12-31 12:14] wenkokke commented on #51
I don't fully understand what tree-sitter is doing. However, on my system, `tree-sitter test` fails for this project with a number of C compiler errors.

[2021-12-31 12:18] wenkokke commented on #51
The following patch seems at least part of the solution, but it doesn't fully fix the problem:
[code]

[2021-12-31 12:21] tek commented on #51
ah, that's nice. what's the result with this?

[2021-12-31 12:23] wenkokke commented on #51
Still and endless wall of errors indicating that the C++ version is smaller than C++14:
[code]

[2021-12-31 12:25] tek commented on #51
I'm not aware that there's a way to reliably make tree-sitter choose an appropriate compiler. did you try using gcc like it's described in the readme?

[2021-12-31 12:29] wenkokke commented on #51
This comment makes it seem like it can be built using clang?

[2021-12-31 12:31] tek commented on #51
yeah, the problem is that tree-sitter uses the default mode of the available compiler, afaict, which is fine for gcc but lacks the c++14 for clang

[2021-12-31 12:43] wenkokke commented on #51
Is the problem that what tree-sitter is compiling are actually C++14 files masquerading as C files?

[2021-12-31 12:46] tek commented on #51
something like that, I think

[2021-12-31 13:04] wenkokke commented on #51
For reference, the solution provided in the README, shadowing Apple Clang using a Homebrewed GCC, no longer seems to work:
[code]
I still get the errors, even though `ls -l $(which gcc)` resolves to:
[code]

[2021-12-31 13:36] tek commented on #51
this is done by `node-gyp`, which I didn't find very accessible. check out its docs: https://gyp.gsrc.io/docs/UserDocumentation.md

[2021-12-31 14:10] wenkokke opened #53 "WASM build fails with error"
Using the wasm generated with `npx tree-sitter build-wasm` fails with the following error:
[code]

[2021-12-31 14:13] wenkokke commented on #53
Building tree-sitter with `EMCC_FORCE_STDLIBS=1` does not help.

[2021-12-31 14:53] wenkokke commented on #53
Refined the error message to:
[code]
Trying to recompile with `-lstdc++`.

[2021-12-31 17:20] wenkokke commented on #53
The problem is that `tree-sitter` eliminates most stdlib functions. Recompiling 'web-tree-sitter' using the following patch resolves the above error:
[code]

[2021-12-31 17:25] wenkokke commented on #53
With the above patch applied to `tree-sitter` running a simple parser test results in the following error:
[code]

[2021-12-31 17:31] wenkokke commented on #53
To help reproducing these errors, here is a simple script which uses the generated wasm, to be called as `script/parse-example.js`:
[code]

[2021-12-31 17:42] wenkokke commented on #53
Compiling with `EXPORT_ALL` refines the error to:
[code]

[2021-12-31 18:49] wenkokke commented on #53
The following patch to `web-tree-sitter` makes `tree-sitter-haskell` work:
[code]

[2022-01-01 10:36] wenkokke commented on #51
Using `CXX=g++-11` still works:
[code]

[2022-01-01 10:36] #51 closed

[2022-01-01 12:49] wenkokke commented on #53
Created two issues which may help debug such problems in the future (https://github.com/tree-sitter/tree-sitter/issues/1565 and https://github.com/tree-sitter/tree-sitter/issues/1566).

[2022-01-01 16:27] luc-tielen commented on #41
Also ran in this today, for [this file](https://github.com/luc-tielen/eclair-lang/blob/main/lib/Eclair/Runtime/BTree.hs).

No it's not unfortunately :disappointed:. `std::function` has a lot of overhead compared to a normal function that is called. There's the overhead of malloc, but also you have "pointer-chasing code", which is bad for cache-hits.

I would not write the C++ in a functional style

[2022-01-01 16:44] 414owen commented on #41
@luc-tielen The [new imperative scanner](https://github.com/tree-sitter/tree-sitter-haskell/pull/54) works, and is ready for review.
There are a few things I still want to do (eg. make state global rather than pass it around), but yeah any tips you have would be appreciated.

[2022-01-01 17:15] JonathanLorimer commented on #41
Just wanted to say thanks to @414owen, @luc-tielen, and @tek for working to improve this tree sitter lib. I am really excited to switch this back on.

[2022-01-01 17:50] luc-tielen commented on #41
@414owen I reviewed all your changes. I liked your approach of tiny commits. :)
Unfortunately I was a little too slow and @tek already merged in your PR :P.
Could you take a look at the comments (and maybe submit a part 3 PR?).

[2022-01-01 17:52] tek commented on #41
sorry :grimacing:

[2022-01-01 17:53] luc-tielen commented on #41
No worries! These changes are already a big improvement (and I didn't see anything wrong with the new code).

[2022-01-01 18:44] maxbrunsfeld commented on #41
The way that I'd debug this is that I'd set up a small example file, and parse the file using Tree-sitter's `-D`/`--debug-graph` argument, which generates a complete report of the parsing process. Also, Tree-sitter allows you to simulate an edit to the file from the command line, and re-parse the file after the edit.

1. Create a small example file with some declarations sampled from `Map/Base.hs`

[2022-01-01 19:24] tek commented on #41
ah, I never thought of looking at the graph when doing an edit, thanks for the tip

[2022-01-01 19:37] #53 closed

[2022-01-02 17:22] 414owen commented on #41
Hmm, on the recomputation side, if I'm interpreting it correctly, [this line](https://github.com/tree-sitter/tree-sitter-haskell/blob/b6849c155aed1f721eaf606bec975a8fbfdcfe39/src/scanner.cc#L1618) returns the amount of elements copied, rather than the amount of bytes (as the docs suggest).

I realise that we're the main consumers of the number returned, in `deserialize`, but I'm wondering if our s

[2022-01-02 18:38] tek commented on #41
:grimacing: that sounds plausible. curious that this hasn't caused any serious errors

[2022-01-03 16:46] 414owen commented on #41
Using the `--debug-graph` flags, I see a bunch of

[code]

One for every function in my test file.

@maxbrunsfeld is `fragility` documented anywhere?
If a node is fragile, are all of its parent nodes marked as fragile too?
Is there a way to get a list of all fragile grammar rules?

[2022-01-03 17:44] maxbrunsfeld commented on #41
There are a couple of reasons that a node can be marked as fragile. Certain parse states are statically known to be fragile, because of precedence usage. But mainly, nodes are also marked as fragile if they are created while the parse stack is *forked* due to a `conflict`. I think that *conflicts* are likely the culprit here.

[2022-01-03 18:23] tek commented on #41
oh yeah there are lots of conflicts in the grammar

[2022-01-03 19:34] maxbrunsfeld commented on #41
It's generally fine for there to be a lot of conflicts: usually, the "fragile" nodes that are creating during conflicts are fully *contained* within some more stable structure, so that a lot of the syntax tree remains reusable.

I think it becomes a problem when the conflicts commonly occur at the top-most level of the source-file, so that there is no "non-fragile" nodes that can be reused. If som

[2022-01-03 21:15] tek commented on #41
template haskell introduces top level splices, which account for almost half of all conflicts. unfortunately, this is a very common feature, I don't think it would be feasible to deactivate :disappointed:

[2022-01-03 21:34] maxbrunsfeld commented on #41
Ah yeah, I can see how that would cause top-level conflicts. I'm not sure what to do about that. What percentage of Haskell source files use top-level splices without the `$()` syntax? Unfortunately, it seems like we may have to choose between either supporting that feature, or getting usable performance in text editors like Neovim.

[2022-01-03 21:42] tek commented on #41
in my code, it's usually maybe 20%, not sure. almost all of those are of the shape

[code]

so I would speculate that we could support this highly specialized variant without losing too much – hoping that the other conflicts have much less of an impact.
What I don't understand is what that would mean for files containing unsupported TH – can we achieve that it would be skipped without poisoning th

[2022-01-03 21:47] maxbrunsfeld commented on #41
I like that idea.

I don't think it would ruin the parsing of the whole remainder of the file. I think you'd often get fairly small `ERROR` nodes in the vicinity of the splice, but other parts of the file would parse fine. I'm not 100% positive how it would play out with this grammar though.

[2022-01-03 21:48] tek commented on #41
looking at those TH conflicts, I see that there's also:

[code]

which is actually disambiguating top decl signatures from equations. so this might just as well be responsible for the problem.
however, just because that's the best I could do after my month of iterating on the grammar doesn't mean we can't find a conflict free version of this :)

[2022-01-03 21:58] tek commented on #41
I also have the impression that this is a question of the trade-off between conflict freedom and precise semantic naming of top level nodes – you could imagine a tree that starts with `(top_level_initial_varid` instead of `(top_splice` or `(signature`, and then branches based on what follows

[2022-01-04 10:20] wenkokke opened #69 "Native and WASM parsers behave differently"
For instance, if we parse `examples/postgrest/test/Main.hs`:

- using native, the top-level node is `haskell`;
- using wasm, the top-level node is `ERROR`.

In this case, the problem seems to be absent module headers.

[2022-01-04 16:39] FoamScience opened #70 "How do I generate a valid WASM file"
We need c++14 here but there is no way to pass `--std=c++14` to `emcc` used by `tree-sitter build-wasm`
The Makefile mentions a patched version of `web-tree-sitter` I've tried it but does not solve the issue;

When I use the generated WASM file (with `npx tree-sitter build-wasm`) I get:
[code]
I think that is related to `build-wasm` not building with c++14 so how was it done here? (Makefile does n

[2022-01-05 14:01] 414owen commented on #50
Looks like @maxbrunsfeld is a collaborator on the `npm` package.
@wenkokke Do you want to wait for https://github.com/tree-sitter/tree-sitter-haskell/issues/69, or is your ERROR node non-fatal?

[2022-01-05 15:54] wenkokke commented on #69
Not quite sure how to run a -DDEBUG build? You should be able to run these tests yourself, though. Lemme dig up the commands.

[2022-01-05 15:55] wenkokke commented on #69
Check out #68 and run `npm run examples-wasm`. You'll need Node and Emscripten.

[2022-01-05 15:56] wenkokke commented on #70
It won't work until the latest `tree-sitter` is released. Until then, you can use the version in #68.

[2022-01-05 15:58] wenkokke commented on #50
We cannot release a new version until tree-sitter does, as we'll need to list the very latest version in our package.json.

[2022-01-05 16:54] FoamScience commented on #70
Yes, I've seen the pure-c jump; I asked because I'm having similar problems with WASM files for my own language (was using a c++14 scanner library myself)
I think the best option for me is to revert back to C too 😄 Thanks!

[2022-01-05 18:11] 414owen commented on #70
C is the most portable language :)

[2022-01-05 18:43] #49 closed

[2022-01-06 09:18] 414owen commented on #69
I'll give it a go.

I've documented `-DDEBUG` in `enable scanner debug output` [here](https://github.com/tree-sitter/tree-sitter-haskell/pull/71)

[2022-01-06 09:21] 414owen commented on #69
`npm run examples-wasm` seems to still want `tree-sitter.patch`?

[2022-01-06 10:33] 414owen commented on #69
Parsing `examples/postgrest/test/Main.hs` passes if you delete either both `let` statements, or the `spec $ do ...` block

[2022-01-06 11:14] FoamScience commented on #70
OK, I think I'm in a much better position with the C-scanner;
I'm generating WASM files for my language with [this CI workflow](https://github.com/FoamScience/tree-sitter-foam/blob/pure_c_scanner/.github/workflows/main.yml) (please note that's building the `pure_c_scanner` branch)

Then, to test the generated WASM file:
[code]

Node errors out with:
[code]
Which suggests something is wrong with [t

[2022-01-06 11:32] 414owen commented on #69
I've created a list of the (smallest to largest) files that fail to parse under wasm:

[code]

output: [here](https://gist.github.com/414owen/6381169cd1d922cc60403d320427a81a#file-files-that-fail-wasm-tests-L6)

The first file passes when you delete the `->` in the GADT, or the type signature of `test`, or any two comment lines... I'll have a proper look this evening.

[2022-01-06 14:27] 414owen commented on #70
@FoamScience  On my machine, when I run `tree-sitter build-wasm` and then run your node file, I get `Error: bad export type for _ZNSt3__25ctypeIcE2idE: undefined`. Not sure if that's a step forward, or backward...

[2022-01-06 14:41] FoamScience commented on #70
Yep, you're using the master branch which still needs C++14, please try `pure_c_scanner`

[2022-01-06 15:59] 414owen commented on #70
@FoamScience I ran your setup in a debugger, and this is where the error occured.

![Screenshot from 2022-01-06 15-45-20](https://user-images.githubusercontent.com/1714287/148410369-3833ea3f-f0ab-40b0-9c56-01953d187911.png)

 I've gone into the surrounding code and I'm 99% this will be fixed by adding `memset` in the same way as [this pr](https://github.com/tree-sitter/tree-sitter/pull/1571).

 Th

[2022-01-06 17:30] maxbrunsfeld commented on #69
One likely reason for the behavior difference is that tree-sitter’s get_column function currently returns a byte count, not a character count. The JavaScript bindings encode strings as UTF16, so most characters are 2 bytes instead of 1, as in UTF8.

The get_column method is still a bit experimental, and we’ve talked about changing it back to returning a character count. In the meantime, scanners s

[2022-01-06 18:00] 414owen commented on #69
Thanks @maxbrunsfeld, that sounds very plausible.

I wonder is I halve the indentation on those files whether they'll break with the native parser...

[2022-01-06 18:15] #70 closed

[2022-01-07 14:36] wenkokke commented on #70
Yes, compile web-tree-sitter with the —debug flag.

[2022-01-07 15:03] ahelwer commented on #69
It's about time I get off my butt and write good tests for my codepoint-based `get_column` tree-sitter fork so it can be merged upstream.

[2022-01-28 12:17] wenkokke commented on #50
The new version of tree-sitter is out!
https://github.com/tree-sitter/tree-sitter/releases/tag/v0.20.4

We can publish a release which uses that version now :)

[2022-01-28 19:19] wenkokke commented on #69
I can confirm that this is mostly fixed using the latest version, the only file that doesn't parse using the web assembly bindings is <examples/haskell-language-server/test/testdata/format/BrittanyCRLF.formatted_range.hs>.

[2022-03-07 15:50] wenkokke opened #74 "Grammar defines trailing whitespace as part of lambda case statement"
The `exp_lambda_case` node associated with the first definition includes the trailing white space:

![Screenshot 2022-03-07 at 15 47 50](https://user-images.githubusercontent.com/3983973/157068182-d9c3664d-2c79-4a4b-ad18-342a891f82c7.png)

This results, for example, in incorrect deletions when operating based off the AST, with a deletion of the lambda case expression resulting in:

![Screenshot 20

[2022-03-08 11:54] tek commented on #74
huh. are you positive this doesn't happen with any other nodes?
I remember fixing this problem for comments, I thought I scrutinized every single whitespace parser for similar behaviour at that time.
Could this be a regression from the scanner translation to C?
In any case, I'll investigate.

btw, what's the deal with those ornaments on top of every token? :upside_down_face:

[2022-03-08 12:34] wenkokke commented on #74
It might be happening with other notes that I haven’t discovered yet.

[2022-03-08 12:36] wenkokke commented on #74
https://marketplace.visualstudio.com/items?itemName=pokey.cursorless

it’s why I’m reliant on this grammar, for voice coding

[2022-03-08 12:41] tek commented on #74
wow, never seen anything like that before. interesting

[2022-03-14 20:39] luc-tielen opened #76 "Parse errors when using DerivingVia"
This happens to me when using neovim with nvim-treesitter.

Steps to reproduce:

1. git clone https://github.com/luc-tielen/souffle-haskell
2. open the file: "DerivingViaSpec.hs", notice the highlighting is not fully working
3. in neovim: `:TSPlaygroundToggle`, errors show up in the AST.

Probably some uncovered case because it is using a lot of extensions/type-level features?

[2022-03-14 21:23] tek commented on #76
ah, because it expects parentheses

[2022-03-14 21:37] tek commented on #76
one character fix :)

[2022-03-15 09:22] luc-tielen commented on #76
Verified that it works, thanks!

[2022-03-15 09:22] #76 closed

[2022-04-13 15:43] Munksgaard opened #77 "infixr and infixl not respected"
Using `infixr` and `infixl` for a given operator should result in different parse-trees.

For example, parsing `infixl 7 +>; a +> c +> d` and `infixr 7 +>; a +> c +> d` results in the same parse tree, but really we would expect the `+>` operator to be right-associative in the second example.

For completeness, I've included the output of `tree-sitter parse` with those inputs below.

Now, I don't e

[2022-04-13 19:09] tek commented on #77
I think it isn't possible at all, but even if it were, it would require substantial changes and work only for the edge case of the fixity being defined in the same module as its usage, if that usage is after the definition. so quite unlikely to be feasible :slightly_smiling_face:

[2022-04-13 19:12] Munksgaard commented on #77
Yeah, that's what I expected. I was just curious whether you thought it was possible at all, since the same problem exists for the hypothetical SML tree-sitter I haven't written yet :)

On Wed, 13 Apr 2022, at 21:09, Torsten Schmits wrote:

[2022-04-13 19:16] tek commented on #77
heh. a similar problem occurs with `#if/#else` cpp macros – we can't easily pass around state except to descendants. fixity would be a little simpler, but still very limited.

[2022-04-13 20:42] Munksgaard commented on #77
All good. I'll close this issue as "wontfix".

[2022-04-13 20:42] #77 closed

[2022-05-18 19:42] lf- opened #79 "Crashing (possibly while editing markdown)"
Context of the crash:

I was editing some markdown containing haskell, while also having pretty big haskell files open.

[code]

I can't provide the coredump as it contains confidential information, but let me know if there's anything I can get out of it that would be useful to debug.

I just ran `:TSUpdate`, so I should be on the latest version of the parser. nvim-treesitter was version 9069849,

[2022-05-18 20:13] tek commented on #79
hey @414owen, what's the reason for this being an `assert`?

[code]

[2022-05-18 22:16] 414owen commented on #79
Huh, that's cool. I didn't know editors highlighted markdown blocks at all.
I'll have a proper look tomorrow evening, but is it possible a realloc failed?

[2022-05-18 22:20] tek commented on #79
@414owen I assumed it's not related to the markdown, but the "pretty big haskell file". though that size limit should only be hit as a consequence of nesting, shouldn't it?

in any case, the backtrace shows the error to be caused by `__assert_fail`, called from `scanner_serialize`, where this buffer size assert is, so I think that's a safe bet

[2022-05-18 22:23] tek commented on #79
the scanner in the Python grammar simply cuts off the buffer at the size limit, so should we maybe replace the `assert` with that?

[2022-05-19 13:18] 414owen commented on #79
Right, gotcha.

https://github.com/tree-sitter/tree-sitter-haskell/pull/62/files#diff-bbcf6c785b007d9655b443abc204cc3cc32aa03cea190cb865fe44252dc6f1dfL1618

What we had before was presumably undefined behaviour, so I added the assert.

A few other projects seem to not copy the buffer at all if it's too large.
The docs say `For your parser to work correctly, the serialize function must store its en

[2022-05-19 17:09] #79 closed

[2022-06-14 17:30] rynoV opened #82 "Comments following function included in function pattern"
For functions with a `do` block, the comments following the function get included in the function, for example:

[code]

here the function pattern will include all of `f` and the doc comment of `g`. This isn't the case when there is no `do` block:

[code]

in this case it works as I expected, only matching `f = a`.

I tested this out using the latest commit on the master branch, using the followin

[2022-06-15 00:07] rynoV commented on #82
Same thing happens for `class` and `instance` patterns, for example:

[code]

[code]

[2022-06-16 01:25] VixieTSQ opened #84 "Update to latest tree-sitter version"
The version mismatch is creating problems with the Rust binding, where `Language` from tree-sitter `0.19.4` is different from `Language` from tree-sitter `0.20.6`. I'm unsure if this just requires an update to `cargo.toml` or if this would need to be an update for the whole repository. This may be a problem where `cargo.toml` simply hasn't been regenerated and tree-sitter actually is up to date. I

[2022-06-16 10:04] tek commented on #41
performance is now stellar!

[2022-06-16 10:04] #41 closed

[2022-06-18 05:21] #84 closed

[2022-06-23 16:11] pyjamafish opened #86 "Outermost function when using $ operator isn't parsed as a function"
When I have multiple functions chained together using the $ operator, the outermost function doesn't get highlighted as a function.

## The problem
Here is my code:
[code]

Here is what it looks like with the [onedark.nvim](https://github.com/navarasu/onedark.nvim) colorscheme in neovim:
![image](https://user-images.githubusercontent.com/29507110/175344202-5181ed94-14d4-4f26-8210-392d3f37ed0c.png)

[2022-06-23 16:50] tek commented on #86
looks like this is handled here:
https://github.com/nvim-treesitter/nvim-treesitter/blob/master/queries/haskell/highlights.scm#L119

which only triggers for application.

you'll have to create an issue at the `nvim-treesitter` repo!

[2022-06-23 16:51] tek commented on #86
just noticed that this file is also present in this repo, but in an older state. so I'd say that the other repo is the reference implementation

[2022-06-23 17:12] pyjamafish commented on #86
Wait, so should I still open an issue in https://github.com/nvim-treesitter/nvim-treesitter?

[2022-06-23 17:14] tek commented on #86
yep!

[2022-06-28 22:12] tek commented on #82
I'm not sure that it's feasible to implement this, since comments are allowed to break indentation:
[code]
so in order to decide whether the comment should terminate the `do` layout, we'd need to parse the indent of the following line, which would require us to either
* jump back to after `g` if indentation decreases to terminate the `do` node
* jump back to after `foo` if indentation stays the sa

[2022-06-28 22:14] tek commented on #82
@414owen do you have an idea maybe?

[2022-06-29 07:39] 414owen commented on #82
I guess I'm unsure why it works without the do block. I would have thought the lexer would only detect the end of `f` when it sees function `g`, which would be after the comment.

[2022-06-29 11:12] tek commented on #82
indeed, that's curious

[2022-07-01 15:15] pyjamafish commented on #86
@tek This has been fixed in the nvim-treesitter repo, should I open a PR to merge the changes here?

[2022-07-01 16:25] tek commented on #86
I guess it would make sense to synchronize the queries from nivim-treesitter…go ahead if you like!

[2022-07-01 21:29] pyjamafish commented on #86
Ah wait a second, the file in this repo contains some changes from the one in nvim-treesitter (https://github.com/tree-sitter/tree-sitter-haskell/pull/40), and it looks like both repos have commits since.

<details>
<summary>Git diff</summary>

[code]
</details>

I don't feel confident enough in tree-sitter's query syntax to make the merge, could someone else take a look?

[2022-07-01 21:33] tek commented on #86
according to the commit message of the last big change there, the file was copied from nvim-treesitter before. so I think you should just complete replace it with the current one from there

[2022-07-02 09:46] #86 closed

[2022-08-19 00:26] lf- opened #89 "Instance with associated type, following TH top level splice, misparsed as function"
I have done a run of executing tree-sitter-haskell against my employer Mercury's (closed source) codebase (350k LOC) and found a few parser bugs, which I have committed simplified testcases for on https://github.com/lf-/tree-sitter-haskell/tree/top-level-splices-oopsie. I am going to try to fix the ones that I think I can fix over the next few weeks.

---

I'm filing this incorrect parse as a bug

[2022-08-19 10:53] tek commented on #89
awesome!

[2022-08-22 18:05] lf- commented on #89
I don't intend to fix this bug as I'm just too lost on it, so it's fair game if you want to pick it up some time.

(this is not high priority at all though; it affects one file total for mee, and is easily worked around by some slight rearrangement or using explicit toplevel splices)

[2022-10-05 04:42] lf- opened #92 "Misparse of explicit-braced code"
I was reading some GHC sources when I found my highlighting was broken.

Here's a minimized example (which does compile with GHC):

[code]

AST:
[code]

[2022-11-19 01:34] maralorn opened #93 "UnicodeSyntax support"
I may be holding it wrong, but at least some unicode symbols are not supported as syntax:

e.g.:

[code]

gives me

[code]

[2022-11-19 02:14] tek commented on #93
right! I added some basics now, but there are some more missing.

[2022-11-19 16:55] maralorn commented on #93
Thank you for the quick reaction. Yeah, those are probably the most important, nice.

Here is the list of all symbols, not so many are missing:

https://downloads.haskell.org/ghc/latest/docs/users_guide/exts/unicode_syntax.html

[2022-11-19 16:57] tek commented on #93
yep, already have that tab open :wink: